node_modules
dist
build
coverage
.git
.gitignore
.env
.env.*
!.env.example
logs
*.log
pnpm-debug.log*
Dockerfile
.dockerignore
docker-compose.yml
prisma/migrations
.docker
*.tsbuildinfo
.vscode
.idea
test
